@model CercleRoyalEscrimeTournaisien.Models.ModelEpub122024

@Html.HiddenFor(m => m.CurrentStep)
@Html.HiddenFor(m => m.CurrentStepToListen)
@Html.HiddenFor(m => m.NumberScrollWithWheel)

<table class="ClassTable">
    @for (int i = Model.CurrentStep; i < Model.CurrentStepFinal; i++)
    {
        <tr>
            <td class="ClassTDText">
                <i class='fa fa-play fa-play-Benoit' style='cursor:pointer; font-size: 15px; margin-right: 3px;' onclick="ListenSentence('@Model.RowsToRead[i].Replace("\'", "&#39")', 'false');"></i>
                @{
                    var WordsInSentence = @Model.RowsToRead[i].Split(' ');
                }

                @foreach (var word in WordsInSentence)
                {
                    <span class="ClassWord" onclick="ClickRow(this, '@Model.RowsToRead[i].Replace("\'", "&#39")');" style="user-select: all;">@word</span>
                }

                @Html.HiddenFor(m => m.RowsToRead[i])
            </td>
        </tr>
    }
</table>

<div>
    @{Html.RenderPartial("TraductionPopup", Model);}
</div>

<script>
    $(document).ready(function () {
        var modal = document.getElementById("myModalTraductionPopup");
        modal.style.display = "none";

        $("#inputRange").attr('max', @Model.RowsToRead.Count);
        $("#inputRange").val(@Model.CurrentStep);
        $(".ClassSound").css('display', @Model.RowsToRead.Count == 0 ? 'none' : 'inline-block');
        $(".ClassSlider").css('display', @Model.RowsToRead.Count == 0 ? 'none' : 'inline-block');

        $(".closePopup").click(function () {
            var modal = document.getElementById("myModalTraductionPopup");
            modal.style.display = "none";
        });

        $(document).click(function (e) {
            if (e.target.className != 'ClassWord') {
                if (!$(e.target).closest(".modal-content").length) {
                    var modal = document.getElementById("myModalTraductionPopup");
                    modal.style.display = "none";
                }
            }

        });

        $('table').bind('mousewheel', function (e) {
            if (e.originalEvent.wheelDelta / 120 > 0) {
                if ($(window).scrollTop() == 0) {
                    var numberScrollWithWheel = $("#NumberScrollWithWheel").val();
                    numberScrollWithWheel = parseInt(numberScrollWithWheel) + 1;

                    if (numberScrollWithWheel > 4) {
                        var inputRange = parseInt($("#inputRange").val()) - parseInt(10);
                        ChargerEpub(inputRange);
                    }
                    
                    else {
                        $("#NumberScrollWithWheel").val(numberScrollWithWheel);
                     }

                    e.stopImmediatePropagation();
                }
            }
            else {
                if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                    var numberScrollWithWheel = $("#NumberScrollWithWheel").val();
                    numberScrollWithWheel = parseInt(numberScrollWithWheel) + 1;

                    if (numberScrollWithWheel > 4) {
                        var inputRange = parseInt($("#inputRange").val()) + parseInt(10);
                        ChargerEpub(inputRange);
                        $(window).scrollTop(0);

                        $("#NumberScrollWithWheel").val('0');
                    }
                    else {
                        $("#NumberScrollWithWheel").val(numberScrollWithWheel);
                    }
                   
                    e.stopImmediatePropagation();
                }
            }
        });

    });
</script>