@model CercleRoyalEscrimeTournaisien.Models.ModelEpub122024

@Html.HiddenFor(m => m.FileNameBook)
@Html.HiddenFor(m => m.CurrentStep)
@Html.HiddenFor(m => m.CurrentStepFinal)
@Html.HiddenFor(m => m.CurrentStepToListen)
@Html.HiddenFor(m => m.ScrollTopStart)
@Html.HiddenFor(m => m.ScrollTopEnd)
@Html.HiddenFor(m => m.PositionStartForNoScrollbar)
@Html.HiddenFor(m => m.PositionEndForNoScrollbar)
@Html.HiddenFor(model => model.RowsToRead.Count, new { @id = "RowsToReadCount" })

@if (Model.RowsToRead.Any())
{
    <div>
        @for (int i = 0; i < Model.RowsToRead.Count(); i++)
        {
            string row = Model.RowsToRead[i].Replace("\'", "&#39");
            @Html.Hidden("rowsToRead_" + i + "_", row, new { @id = "rowsToRead_" + i + "_" })
        }
    </div>
}

<table class="ClassTable" id="tableBody">
</table>

<div>
    @{Html.RenderPartial("TraductionPopup", Model);}
</div>

<script>
    (function ($) {
        $.fn.hasScrollBar = function () {
            return this.get(0).scrollHeight > $(window).height();
        }
    })(jQuery);

    $(document).ready(function () {
        var modal = document.getElementById("myModalTraductionPopup");
        modal.style.display = "none";

        $("#inputRange").attr('max', @Model.RowsToRead.Count);
        $("#inputRange").val(@Model.CurrentStep);
        $("#inputRangeSpan").text('@Model.CurrentStep' + '/' + '@Model.RowsToRead.Count');

        $("#FileNameBook").val('@Model.FileNameBook');
        $(".ClassSound").css('display', @Model.RowsToRead.Count == 0 ? 'none' : 'inline-block');
        $(".ClassSlider").css('display', @Model.RowsToRead.Count == 0 ? 'none' : 'flex');

        $(".closePopup").click(function () {
            var modal = document.getElementById("myModalTraductionPopup");
            modal.style.display = "none";
        });

        $(document).click(function (e) {
            if (e.target.className != 'ClassWord') {
                if (!$(e.target).closest(".modal-content").length) {
                    var modal = document.getElementById("myModalTraductionPopup");
                    modal.style.display = "none";
                }
            }

        });

        wheelLoad();   
    });

    function ScrollStart() {
        console.log('ScrollStart');
    }

    function Scroll() {
        console.log('Scroll');
    }

    function process_touchmove(ev) {
        console.log('touchmove');
        ev.preventDefault();
    }
</script>