@using CercleRoyalEscrimeTournaisien.Resources

<!DOCTYPE html>

@{ 
    var urlPhotoPlan = Url.Content("~/Home/Photos/ImagesPourCours/plan.jpg");
}

<link href="@Url.Content("~/Content/Accueil.css")" rel="stylesheet" type="text/css" />

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

    <link id="themecss" rel="stylesheet" type="text/css" href="//www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="@Url.Content("~/Content/MainPage.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/MainPage.js")"></script>
</head>

<html>



<body id="bodyAccueil">
    <div style="text-align:right;">
        <i class="fa fa-bars fa-beat" onclick="ShowStartPage();" style="color: red; font-size: 30px;"></i>
    </div>

    <div class="classAccueil">
        <img src="/Home/photos/Divers/EscrimeurRigolo.jpg" class="ImgAccueil" />

        <div class="divAccueil"><span>@Html.Raw(ResourceGlobal.Horaires_1)</span></div>
        <div class="divAccueil">
            <span>@Html.Raw(ResourceGlobal.Horaires_2)</span>
            <i class='fa fa-binoculars' style='font-size: 20px;color: darkkhaki;text-shadow: 1px 1px 1px blue;' onclick="ShowPartialViewEntreeClub()"></i>
        </div>
        <div class="divAccueil"><span>@Html.Raw(ResourceGlobal.Horaires_3)</span></div>
        <div class="divAccueil"><span>@Html.Raw(ResourceGlobal.Horaires_4)</span></div>
        @*<div class="divAccueil divUnderline"><span>@Html.Raw(ResourceGlobal.Horaires_5)</span></div>*@
        <ul>
            @*<li><div class="divAccueil divMarginText"><span>@Html.Raw(ResourceGlobal.Horaires_6)</span></div></li>*@
            <li><div class="divAccueil divMarginText"><span>@Html.Raw(ResourceGlobal.Horaires_7)</span></div></li>
            <li><div class="divAccueil divMarginText"><span>@Html.Raw(ResourceGlobal.Horaires_9)</span></div></li>
            <li><div class="divAccueil divMarginText"><span>@Html.Raw(ResourceGlobal.Horaires_10)</span></div></li>
        </ul>
        @*<div class="divAccueil divUnderline"><span>@Html.Raw(ResourceGlobal.Horaires_8)</span></div>*@
        @*<ul>
            <li><div class="divAccueil divMarginText"><span>@Html.Raw(ResourceGlobal.Horaires_9)</span></div></li>
            <li><div class="divAccueil divMarginText"><span>@Html.Raw(ResourceGlobal.Horaires_10)</span></div></li>
        </ul>*@

        <div class="divAccueilTop" style=" margin-top: 32px;"><span>@Html.Raw(ResourceGlobal.Horaires_11)</span></div>
        <div class="divAccueilTop divUnderline"><span>@Html.Raw(ResourceGlobal.Horaires_12)</span></div>
        <div class="divAccueil"><span>@Html.Raw(ResourceGlobal.Horaires_13)</span></div>
        <div class="divAccueilTop divUnderline"><span>@Html.Raw(ResourceGlobal.Horaires_12_secretaire)</span></div>
        <div class="divAccueil"><span>@Html.Raw(ResourceGlobal.Horaires_13_secretaire)</span></div>
        <div class="divAccueilTop divUnderline"><span>@Html.Raw(ResourceGlobal.Horaires_14)</span></div>
        <div class="divAccueil"><span>@Html.Raw(ResourceGlobal.Horaires_15)</span></div>
    </div>

    <div id="popUp">
        <img id="imgModal" src="" height="100" width="100" style="display:none;width: 100%;height: 100%;object-fit: contain;" onclick="$('#popUp').dialog('close')" />
    </div>

    <div id="ShowPartialViewEntreeClubId" style="display: none;">
        @Html.Partial("ShowPartialViewEntreeClub")
    </div>
</body>
</html>

<script>
    
    //$(document).ready(function () {
    //    ActiveFonctionsGsm();
    //});

    function ShowPartialViewEntreeClub() {
        $("#ShowPartialViewEntreeClubId").css('display', 'block');        
    }

    //function ActiveFonctionsGsm() {
    //    if (window.matchMedia("(max-width: 767px)").matches) {
    //        $('span').css('font-size', '12px');
    //        $('body').css('overflow-y', 'scroll')
    //    }
    //    else {
    //        $('body').css('overflow-y', 'none')
    //    }
    //}
</script>

<script src="~/Scripts/Accueil.js" type="text/javascript"></script>