@model CercleRoyalEscrimeTournaisien.Models.KaraokeViewModel

@section css {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://www.youtube.com/iframe_api"></script>
}

@Styles.Render("~/content/karaoke.css")

<!DOCTYPE html>
<html>

<body id="karaoke" style=" overflow-y: overlay; height: 80%; width: 99%; overflow-x: hidden;">
    <div style="text-align: center; top: 2px; position: relative;">
        @Html.DropDownListFor(model => model.ChanteurSelected, new SelectList(Model.ListeDesChanteurs, "Key", "Value", Model.ChanteurSelected), new { @style = "width:150px;", @onchange = "changeArtiste()" })
        @Html.DropDownListFor(model => model.ChansonSelected, new SelectList(Model.ListeDesChansons, "Key", "Value", Model.ChansonSelected), new { @style = "width:150px;", @onchange = "changeChanson()" })
    </div>

    <div id="youtube-video" style="display:none;"></div>

    <div class="divTextAreaAnswerList">
        <textarea readonly="readonly" unselectable="on" id="AnswerList" class="noselect form-control classAnswerList">@string.Join("\n ", Model.RowsToRead)</textarea>
    </div>
    
    @Html.HiddenFor(m => m.MomentsToRead.Count)

    @for (var i = 0; i < Model.MomentsToRead.Count; i++)
    {
        @Html.HiddenFor(m => m.MomentsToRead[i])
    }

</body>
</html>

<script type="text/javascript">
     if ('@Model.UrlChansonEmbed' != '') {
         createYoutubeiFrame("youtube-video", '@Model.UrlChansonEmbed');

         setInterval(function () {
             changeTexteAutomatique();
         }, 4000);
    }


    function changeTexteAutomatique() {
        if (player.playerInfo.playerState == '1') {
            var playerVideo = YT.get('youtube-video');
            var currentTime = playerVideo.getCurrentTime();
            //var currentDuration = playerVideo.getDuration();

            let countMomentsToRead = $("#MomentsToRead_Count").val();

            let currentDuration = GetDurationWithCurrentTime(currentTime, countMomentsToRead);

            var ratio = (currentDuration / countMomentsToRead) * 100;

            
            let changeScrollTop = 300;
            if (/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                if (window.innerWidth > window.innerHeight) {
                    changeScrollTop = 120;
                    /*alert('changeScrollTop: ' + changeScrollTop);*/
                }
            }

            var heightAnswer = ($("#AnswerList").prop("scrollHeight") * ratio / 100) - changeScrollTop;
            $("#AnswerList").animate(
                { scrollTop: heightAnswer }, 1000);
        }
    }

    function GetDurationWithCurrentTime(currentTime, countMomentsToRead) {
        for (var i = 0; i < countMomentsToRead; i++) {
            let momentToRead = $("#MomentsToRead_" + i + "_").val();
            if (momentToRead > currentTime) {
                return i;
            }
        }
    }

    function playerReadyEvent(event) {
        event.target.playVideo();
    }

    function createYoutubeiFrame(elementID, videoID) {
        player = new YT.Player(elementID, {
            videoId: videoID,
            playerVars: {
                playsinline: 1,
            },
            events: {
                'onReady': playerReadyEvent,
            }
        });
        return player;
    }

    function changeArtiste() {
        var data = $("#karaoke :input").serializeArray();

        $.ajax({
            url: "/MainPage/ChangeArtiste/",
            type: 'GET',
            cache: false,
            data: data,
            dataType: 'json',
            success: function (result) {
                $('#karaoke').html(result.karaokeViewModel);
            },
            error: function (response) {
                alert("Error. " + response.responseText);
            }
        });
    }

    function changeChanson() {
        var data = $("#karaoke :input").serializeArray();

        $.ajax({
            url: "/MainPage/ChangeChanson/",
            type: 'GET',
            cache: false,
            data: data,
            dataType: 'json',
            success: function (result) {
                $('#karaoke').html(result.karaokeViewModel);
            },
            error: function (response) {
                alert("Error. " + response.responseText);
            }
        });
    }
</script>