@model RemarqueData
    
@{ 
    string styleDisplayVideo = Model.HasUrlVideo ? "" : "display:none";
    string classDisplayVideo = Model.HasUrlVideo ? "classDisplayVideo" : "";
}

<div style="margin-bottom:15px;">
    <i title="Cliquez pour écouter le texte" onclick='LireTexte("@Model.PointNégatif.Trim()", this, $("#HasMale").val())' class="fa fa-headphones classPointPositifNegatif CursorIcon"></i>
    <i title="Point à améliorer" class="fa fa-wrench classPointPositifNegatif classPointNegatif CursorIcon"></i>
    @*<i title="Téléchargez la vidéo" class="fa fa-video-camera CursorIcon @classDisplayVideo" style="@styleDisplayVideo" onclick="window.location.href='@Model.UrlVideo'"></i>*@
    <i title="Téléchargez la vidéo" class="fa fa-download CursorIcon @classDisplayVideo" style="@styleDisplayVideo" onclick="window.location.href='@Model.UrlVideo'"></i>
    <label class="ClassLabel">@Model.PointNégatif</label>
    @if (Model.Frequency > 1)
    {
        <span title="Le chiffre indiqué ici représente le nombre de fois que j'ai vu l'erreur au cours des assauts visionnés." class="fa-layers fa-fw" style="background:transparent">
            <svg class="svg-inline--fa fa-circle" style="color: red;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"></path></svg>
            <span style="font-size: 10px; cursor: help;" class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3">@Model.Frequency</span>
        </span>

    }
</div>