<html lang="en">

<head>
    <link rel="stylesheet" href="~/Content/PagePersoManager.css">
</head>

<body>

    <table style="margin: 5px 5px 5px 5px;">
       
        <tr>
            <td>
                <button class="buttonPersoManager" style="--clr:#FF3131" onclick="location.href ='@Url.Action("ScreenPDFPage", "MainPage")'"><span>Read BD</span><i></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="buttonPersoManager" style="--clr: #1F51FF" onclick="location.href ='@Url.Action("Dico", "MainPage")'"><span>Dico</span><i></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="buttonPersoManager" style="--clr: #8A2BE2" onclick="location.href ='@Url.Action("Epub122024", "Epub")'"><span>New Read Epub décembre 2024</span><i></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="buttonPersoManager" style="--clr: #8A2BE2" onclick="location.href ='@Url.Action("MP3", "MainPage")'"><span>Mp3</span><i></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="buttonPersoManager" style="--clr: #8A2BE2" onclick="location.href ='@Url.Action("Velo", "MainPage")'"><span>Velo</span><i></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="buttonPersoManager" style="--clr: #8A2321" onclick="location.href ='@Url.Action("Karaoke", "MainPage")'"><span>Karaoke</span><i></i></button>
            </td>
        </tr>
    </table>    
</body>

</html>