@model CercleRoyalEscrimeTournaisien.Models.PoulesViewModel

<div>
    <span>Liste des Dates d'entraînement: </span>

    <select onchange="$.startLoading();location.href='@Url.Action("ChangeDateDeLaPoule", "Poules")?dateDeLaPouleSelected=' + this.value" class="form-control">
        <option value="">Sélectionnez la date antérieure à aujourd'hui...</option>
        @foreach (var p in Model.DatesPourToutesLesPoulesList.OrderByDescending(x => x.DateDeLaPoule.Substring(6, 4) + "-" + x.DateDeLaPoule.Substring(3, 2) + "-" + x.DateDeLaPoule.Substring(0, 2)).ToList())
        {
            if (string.IsNullOrEmpty(p.Arme))
            {
                <option value="@p.DateDeLaPoule">@p.DateDeLaPoule</option>
            }
            else
            {
                <option value="@p.DateDeLaPoule">@p.DateDeLaPoule (@p.Arme)</option>
            }
        }
    </select>
</div>

<div class="ClassMarginTopAndBottom">
    <a onclick="$.startLoading();" href="@Url.Action("ResetDates", "Poules")" class="btnAction-custom">Réinitialisez la date et la remettre à la date du jour</a>
</div>

<div class="ClassMarginTopAndBottom">
    <a onclick="$.startLoading();" href="@Url.Action("Poules", "Poules")" class="btn-custom">Retourner au menu principal</a>
</div>