@model CercleRoyalEscrimeTournaisien.Models.PoulesViewModel
@{
    IEnumerable<SelectListItem> GetNumbersList = Model.PouleSelected == "Poule 1" ?
    new SelectList(new List<string> { "", "0", "1", "2", "3", "4" }) : new SelectList(new List<string> { "", "0", "1", "2", "3", "4", "5" });
}

<label style="display: inline-flex;" class="ClassMarginBottom ClassFontSizeTitre ">Ajouter un score à une poule</label>

<div style="margin-bottom:15px;">
    <select onchange="$.startLoading();location.href='@Url.Action("ChangePoulePourAjouterScore", "Poules")?pouleSelected=' + this.value" id="ddlPoulesScores" class="form-control">
        <option value=""> Sélectionnez la poule...</option>
        @foreach (var p in Model.PoulesList)
        {
            if (p.Poule == Model.PouleSelected)
            {
                <option selected value="@p.Poule"> @p.Poule (@p.DescriptionDeLaPoule) </option>
            }
            else
            {
                <option value="@p.Poule"> @p.Poule (@p.DescriptionDeLaPoule) </option>
            }
        }
    </select>
</div>

<div style="display: flex; margin-bottom: 15px;">
    <div>
        <label style="margin-right:10px;">Tireur 1</label>
    </div>
    <div style="min-width:150px;">
        @Html.DropDownListFor(model => model.Tireur1Selected, new SelectList(Model.ListTireursToAddScore, "Key", "Value", Model.Tireur1Selected), new { @class = "form-control", @style = "width:100px;" })
    </div>
    <div>
        <label style="margin-right:10px;">Tireur 2</label>
    </div>
    <div>
        @Html.DropDownListFor(model => model.Tireur2Selected, new SelectList(Model.ListTireursToAddScore, "Key", "Value", Model.Tireur2Selected), new { @class = "form-control", @style = "width:100px;" })
    </div>
</div>

<div style="display: flex; margin-bottom: 15px;">
    <div>
        <label style="margin-right:10px;">Victoire :</label>
    </div>
    <div style="margin-right:15px;">
        <input type="radio" name="choixVictoire" value="1">Tireur 1
    </div>
    <div>
        <input type="radio" name="choixVictoire" value="2">Tireur 2
    </div>
</div>

<div style="display: flex; margin-bottom: 15px;">
    <div style="margin-right:25px;">
        <label style="margin-right:10px;">Score :</label>
    </div>
    <div style="margin-right:15px;">
        <label style="margin-right:10px;">Tireur 1</label>
        @Html.DropDownList("ScoreTireur1", GetNumbersList, new { @class = "dropdown", @style = "width:40px;" })
    </div>
    <div>
        <label style="margin-right:10px;">Tireur 2</label>
        @Html.DropDownList("ScoreTireur2", GetNumbersList, new { @class = "dropdown", @style = "width:40px;" })
    </div>
</div>

<div style="display: flex; margin-bottom: 5px;">
    <div style="margin-right:25px;">
        <label style="margin-right:10px;">Le tireur qui a perdu a-t-il mené ?</label>
    </div>
</div>
<div style="display: flex; margin-bottom: 15px;">
    <div style="margin-right:15px;">
        <input type="radio" name="choixMene" value="1">Oui
    </div>
    <div style="margin-right:15px;">
        <input type="radio" name="choixMene" value="2">Non
    </div>
    <div>
        <input type="radio" name="choixMene" value="3">Je ne sais pas
    </div>
</div>

<div class="ClassMarginTopAndBottom">
    <a href="#" onclick="AddScoreToTireursSelected(); " class="btnAction-custom">&nbsp;&nbsp;Ajouter 1 score aux tireurs sélectionnés&nbsp;&nbsp;</a>
</div>

<div class="ClassMarginTopAndBottom">
    <a onclick="$.startLoading();" href="@Url.Action("Poules", "Poules")" class="btn-custom">&nbsp;&nbsp;Retourner au menu principal&nbsp;&nbsp;</a>
</div>

<script>
    document.querySelectorAll('.choixVictoire').forEach(td => {
        td.addEventListener('click', function () { this.querySelector('input[type=radio]').checked = true; });
    });
</script>