@model CercleRoyalEscrimeTournaisien.Models.PoulesViewModel
@{
    IEnumerable<SelectListItem> GetNumbersList = Model.PouleSelected == "Poule 1" ?
    new SelectList(new List<string> { "", "0", "1", "2", "3", "4" }) : new SelectList(new List<string> { "", "0", "1", "2", "3", "4", "5" });
}

<label style="display: inline-flex;" class="ClassMarginBottom ClassFontSizeTitre ClassDecorationUnderline">Ajouter un score à une poule</label>

<table>
    <thead>
        <tr>
            <th colspan="2" class="tableScoreAlign">
                <select onchange="$.startLoading();location.href='@Url.Action("ChangePoulePourAjouterScore", "Poules")?pouleSelected=' + this.value" id="ddlPoulesScores" class="form-control">
                    <option value=""> Sélectionnez la poule...</option>
                    @foreach (var p in Model.PoulesList)
                    {
                        if (p.Poule == Model.PouleSelected)
                        {
                            <option selected value="@p.Poule"> @p.Poule (@p.DescriptionDeLaPoule) </option>
                        }
                        else
                        {
                            <option value="@p.Poule"> @p.Poule (@p.DescriptionDeLaPoule) </option>
                        }
                    }
                </select>
            </th>


        </tr>
        <tr>
            <th class="tableScoreAlign">Tireur 1</th>
            <th class="tableScoreAlign">Tireur 2</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td class="tableScoreAlign">
                @Html.DropDownListFor(model => model.Tireur1Selected, new SelectList(Model.ListTireursToAddScore, "Key", "Value", Model.Tireur1Selected), new { @class = "form-control" })
            </td>
            <td class="tableScoreAlign">
                @Html.DropDownListFor(model => model.Tireur2Selected, new SelectList(Model.ListTireursToAddScore, "Key", "Value", Model.Tireur2Selected), new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td class="tableScoreAlign choixVictoire" data-value="1">
                <input type="radio" name="choixVictoire" value="1">Victoire du tireur 1
            </td>
            <td class="tableScoreAlign choixVictoire" data-value="2">
                <input type="radio" name="choixVictoire" value="2">Victoire du tireur 2
            </td>
        </tr>
        <tr>
            <td class="tableScoreAlign">
                Score : @Html.DropDownList("ScoreTireur1", GetNumbersList, new { @class = "dropdown" })
            </td>
            <td class="tableScoreAlign">
                Score : @Html.DropDownList("ScoreTireur2", GetNumbersList, new { @class = "dropdown" })
            </td>
        </tr>
    </tbody>
</table>

<div class="ClassMarginTopAndBottom">
    <a href="#" onclick="AddScoreToTireursSelected(); " class="btnAction-custom">&nbsp;&nbsp;Ajouter 1 score aux tireurs sélectionnés&nbsp;&nbsp;</a>
</div>

<div class="ClassMarginTopAndBottom">
    <a onclick="$.startLoading();" href="@Url.Action("Poules", "Poules")" class="btn-custom">&nbsp;&nbsp;Retourner au menu principal&nbsp;&nbsp;</a>
</div>

<script>
    document.querySelectorAll('.choixVictoire').forEach(td => {
        td.addEventListener('click', function ()
        { this.querySelector('input[type=radio]').checked = true; });
    });
</script>