@model CercleRoyalEscrimeTournaisien.Models.PoulesViewModel


@{
    string displayRoundVisible = Model.RoundsList.Count == 0 ? "display:none" : "";
    List<CercleRoyalEscrimeTournaisien.Models.ClassScoreEliminationsDirectes> scores = Model.ScoresEliminitationsDirectesList.Where(x => x.PouleSelected == Model.PouleSelected && x.Round == Model.RoundSelected).ToList();
    bool isAllIntroduit = scores.Count > 0 && scores.All(x => x.ScoreDejaIntroduit);
}

<!DOCTYPE html>
<html lang="fr">
<body>

    <h1 style="text-align:center;margin-bottom:30px;">Tableau d'élimination directe</h1>

    <div class="ClassMarginBottom">
        <span>Liste des poules: </span>
        <select onchange="location.href='@Url.Action("ChangePoulePourShowEliminationsDirectes", "Poules")?pouleSelected=' + this.value" id="ddlPoulesEliminationsDirectes" class="form-control">
            <option value="">Sélectionnez la poule...</option>
            @foreach (var p in Model.PoulesList)
            {
                var scoreListe = Model.ScoresEliminitationsDirectesList.Where(x => x.PouleSelected == p.Poule).GroupBy(x => x.Round).ToDictionary(g => g.Key, g => g.Key);

                if (scoreListe.Any())
                {
                    if (p.Poule == Model.PouleSelected)
                    {
                        <option selected value="@p.Poule"> @p.Poule (@p.DescriptionDeLaPoule) </option>
                    }
                    else
                    {
                        <option value="@p.Poule"> @p.Poule (@p.DescriptionDeLaPoule) </option>
                    }
                }
            }
        </select>
    </div>

    <div class="ClassMarginBottom" style="@displayRoundVisible">
        <span>Liste des rounds: </span>

        <select onchange="location.href='@Url.Action("ChangeRoundPourShowEliminationsDirectes", "Poules")?roundSelected=' + this.value + '&pouleSelected=' + $('#ddlPoulesEliminationsDirectes option:selected').val()" id="ddlRoundsEliminationsDirectes" class="form-control">
            <option value="">Sélectionnez le round...</option>
            @foreach (var p in Model.RoundsList)
            {
                if (p.Key == Model.RoundSelected)
                {
                    <option selected value="@p.Value"> @p.Value  </option>
                }
                else
                {
                    <option value="@p.Value"> @p.Value  </option>
                }
            }
        </select>
    </div>

    @foreach (var rencontre in Model.GetOrdreDesMatchs(Model.ScoresEliminitationsDirectesList.Where(x => x.PouleSelected == Model.PouleSelected && x.Round == Model.RoundSelected).ToList()))
    {
        string tireur1Name = string.IsNullOrEmpty(rencontre.Tireur1Name) ? "/" : rencontre.Tireur1Name;
        string tireur2Name = string.IsNullOrEmpty(rencontre.Tireur2Name) ? "/" : rencontre.Tireur2Name;

        <div class="ClassDivRencontre">
            <div style="display: flex;">
                <span class="ClassSpanMinWidthFixed">@tireur1Name</span>
                @if (rencontre.ScoreDejaIntroduit)
                {
                    <span style="margin-right: 20px; min-width: 50px;">@rencontre.ScoreDuTireur1</span>
                }
                else
                {
                    if (Model.IsDateDAujourdhuiEqualsDateNow)
                    {
                        @Html.TextBoxFor(x => x.Score, new { @class = "ClassMaxWidth form-control", @id = "inputScore_" + rencontre.Tireur1Guid })
                    }
                }
            </div>

            @if (!rencontre.ScoreDejaIntroduit)
            {
                if (Model.IsDateDAujourdhuiEqualsDateNow)
                {
                    <div class="">
                        <a style="margin-left:150px;" href="#" onclick="AddScoreEliminationDirecte('@Model.DateDuJourWithoutDayLabel','@Model.PouleSelected','@rencontre.Round','@rencontre.Tireur1Guid','@rencontre.Tireur2Guid','inputScore_' + '@rencontre.Tireur1Guid','inputScore_' + '@rencontre.Tireur2Guid'); ">Sauver score</a>
                    </div>
                }
            }

            <div style="display: flex;">
                <span class="ClassSpanMinWidthFixed">@tireur2Name</span>
                @if (rencontre.ScoreDejaIntroduit)
                {
                    <span style="margin-right: 20px; min-width: 50px;">@rencontre.ScoreDuTireur2</span>
                }
                else
                {
                    if (Model.IsDateDAujourdhuiEqualsDateNow)
                    {
                        @Html.TextBoxFor(x => x.Score, new { @class = "ClassMaxWidth form-control", @id = "inputScore_" + rencontre.Tireur2Guid })
                    }
                }
            </div>
        </div>
    }

    @if (isAllIntroduit && Model.RoundSelected != "Finale" && Model.IsDateDAujourdhuiEqualsDateNow)
    {
        string roundSuivant = Model.GetRoundSuivant(Model.RoundSelected);
        bool isPresenceNextRound = Model.RoundsList.Any(x => x.Key == roundSuivant);

        if (!isPresenceNextRound)
        {
            <div class="ClassMarginTopAndBottom">
                <a id="btnCalculerLeRoundSuivant" href="#" class="btnAction-custom">Calculer le round suivant</a>
            </div>
        }
    }

</body>
</html>

<div class="ClassMarginTopAndBottom">
    <a href="@Url.Action("Poules", "Poules")" class="btn-custom">Retourner au menu principal</a>
</div>

<script>
    $("#btnCalculerLeRoundSuivant").on("click", function (e) {
        e.preventDefault();
        var pouleSelected = $("#ddlPoulesEliminationsDirectes option:selected").val();
        var roundSelected = $("#ddlRoundsEliminationsDirectes option:selected").val();
        var dateDuJourWithoutDay = '@Model.DateDuJourWithoutDayLabel';

        $.ajax({
            url: "/Poules/CalculerLeRoundSuivant",
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ pouleSelected: pouleSelected, roundSelected: roundSelected, dateDuJourWithoutDay: dateDuJourWithoutDay  }),
            success: function (data) {
                if (data.redirectUrl) { window.location.href = data.redirectUrl; }
            },
            failure: function (response) { },
            error: function (response) {
                alert("Error. " + response.responseText);  //
            }
        });
    });
</script>