@model CercleRoyalEscrimeTournaisien.Models.PoulesViewModel

@Styles.Render("~/styles/Poules")
@Scripts.Render("~/bundles/PoulesJS")

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!DOCTYPE html>
<html>
<body id="">
    @if (Model.ScreenIndex != ClassEnumScreen.EnumScreen.AfficherLesDatesPrecedentes)
    {
        <div class="ClassTextAlignCenter">
            <h2>@Model.DateDuJourWithDayLabel</h2>
        </div>
    }

    @switch (Model.ScreenIndex)
    {
        case ClassEnumScreen.EnumScreen.MenuPrincipal:
            <label style="display: inline-flex;" class="ClassFontSizeTitre ClassDecorationUnderline">Menu principal</label>
            <div style="margin-left:40px;">

                @if (Model.IsDateDAujourdhuiEqualsDateNow)
                {
                    <div class="ClassMarginTopAndBottom">
                        <a href="@Url.Action("AjouterTireurAUnePoule", "Poules")" class="btn-custom">Ajouter un tireur à une poule</a>
                    </div>

                    <div class="ClassMarginTopAndBottom">
                        <a href="@Url.Action("AjouterDesScores", "Poules")" class="btn-custom">Ajouter un score à une poule</a>
                    </div>
                }

                <div class="ClassMarginTopAndBottom">
                    <a href="@Url.Action("AfficherLesPoules", "Poules")" class="btn-custom">Afficher les poules</a>
                </div>
                <div class="ClassMarginTopAndBottom">
                    <a href="@Url.Action("AfficherLesEliminationsDirectes", "Poules")" class="btn-custom">Afficher les éliminations directes</a>
                </div>
                <div class="ClassMarginTopAndBottom">
                    <a href="@Url.Action("AfficherLesDatesPrecedentes", "Poules")" class="btn-custom">Afficher les résultats des jours antérieurs</a>
                </div>
            </div>

            break;
        case ClassEnumScreen.EnumScreen.AddTireurs:
            <div class="infos1 clearfix">
                @Html.Partial(PartialViewNames.AddTireurs, Model)
            </div>

            break;
        case ClassEnumScreen.EnumScreen.AfficherLesPoules:
            <div class="infos1 clearfix">
                @Html.Partial(PartialViewNames.AfficherLesPoules, Model)
            </div>

            break;
        case ClassEnumScreen.EnumScreen.AjouterScoreAUnePoule:
            <div class="infos1 clearfix">
                @Html.Partial(PartialViewNames.AjouterScoreAUnePoule, Model)
            </div>

            break;
        case ClassEnumScreen.EnumScreen.AfficherLesEliminationsDirectes:
            <div class="infos1 clearfix">
                @Html.Partial(PartialViewNames.PoulesEliminationsDirectes, Model)
            </div>

            break;
        case ClassEnumScreen.EnumScreen.AfficherLesDatesPrecedentes:
            <div class="infos1 clearfix">
                @Html.Partial(PartialViewNames.AfficherLesDatesPrecedentes, Model)
            </div>

            break;
    }
</body>
</html>