@model CercleRoyalEscrimeTournaisien.Models.StatistiquesViewModel

@{
    var adversaires = ViewBag.Adversaires as List<string>;
}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<div id="statistiquesDiv">
    <div>
        <span>Tireur : </span>
        @Html.DropDownListFor(model => model.TireurSelected, new SelectList(Model.ListTireursToShowAndChoose, "Key", "Value", Model.TireurSelected), new { @class = "form-control", @style = "width:100px;" })

        <span style="margin-left:15px;">Adversaire : </span>
        @Html.DropDownListFor(model => model.AdversaireSelected, new SelectList(Model.ListTireursToShowAndChooseForAdversaires, "Key", "Value", Model.AdversaireSelected), new { @class = "form-control", @style = "width:100px;" })

        <span style="margin-left:15px;">Arme : </span>
        @Html.DropDownListFor(model => model.ArmeSelected, new SelectList(Model.ListArmes, "Key", "Value", Model.ArmeSelected), new { @class = "form-control", @style = "width:100px;" })
    </div>

    <div style="margin-top:15px;margin-bottom:15px;">
        <input style="font-size:16px;" type="button" value="Matchs..." onclick="chargerResultat();" />
    </div>


    @if (Model.AdversaireSelected != "")
    {
        foreach (CercleRoyalEscrimeTournaisien.Models.StatistiquesViewModel.ClassStatistiques item in Model.ListeDesMatchs)
        {
            <li>
                @{
                    string itemToShow = item.DateDeLaPoule + " (" + item.Arme + ")" + ": " + item.Tireur1Name + "-" + item.Tireur2Name + " (" + item.ScoreDuTireur1 + "-" + item.ScoreDuTireur2 + ") " ;

                    string styleColor = "color:red;";
                    if (item.Tireur1Name == Model.TireurSelected && item.VictoireOuDéfaiteDuTireur1 || item.Tireur2Name == Model.TireurSelected && item.VictoireOuDéfaiteDuTireur2)
                    {
                        styleColor = "color:green;";
                    }

                    <span style="@styleColor">@itemToShow</span>
                }
            </li>
        }
    }
</div>

<script src="~/Scripts/statistiques.js" type="text/javascript"></script>